*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-wrap: wrap;
}

.square{
    width: 16px;
    height: 16px;
    background: green;
    margin: 2px;
    transition: 2s ease;
}

.square:hover{
    transition-duration: 0s;

}